<div class="sample-home">
	<div class="container position-relative">
	<div class="bg-neutral-0 sample-home-box mb-0 px-5 py-4 rounded shadow-lg">
			<div class="display-4">
			<span class="text-brand-primary" data-lfr-editable-id="liferay-home-title1" data-lfr-editable-type="text">Liferay Site Initializer.</span><br
				/>
			<span class="text-brand-primary-darken-5" data-lfr-editable-id="liferay-home-title2" data-lfr-editable-type="text">Built as a client extension.</span>
			</div>
		</div>
	</div>

	<div class="sample-image-container">
	<img alt="" class="sample-home-image" data-lfr-editable-id="cover-image" data-lfr-editable-type="image" src="[resources:liferay.png]" />
	</div>
</div>